<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:kyo="http://www.kyo.amaterasu/schema/kyo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.kyo.amaterasu/schema/kyo
       http://www.kyo.amaterasu/schema/kyo/kyo.xsd">

    <kyo:application name="kyo-application"/>

    <kyo:service name="kyo-service"/>

</beans>